body {
    font-size: 24px;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}

h1 {
    padding-top: 1em;
    font-size: 36px;
}

p {
    padding-top: 1em;
    padding-bottom: 1em;
}

.content-container {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    max-width: 1000px;
    min-width: 830px;
    margin: auto;
    height: 100%;
}

.klaviatura-container {
    width: 600px;
    height: 180px;
    display: grid;
    grid-template-columns: 420px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */ 
}

.klaviatura-flex-container {
    display: flex;
    justify-content: space-between;
}

.controls-container {
    display: flex;
    width: 230px;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
}

.control-group {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: black solid 1px;
}

.control-group:first-child {
    border-top: black solid 1px;
}

.augsina {
    width: 600px;
    display: grid;
    grid-template-columns: 40px 40px 20px 40px 40px 40px 40px 20px 40px 20px 40px 40px 40px 40px 20px 40px 40px;
    grid-template-rows: 100px;
    column-gap: 0px;
    row-gap: 0px;
    background-color: whitesmoke;
    padding: 0px;
}

.augsina > div, .apaksina > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.freq-indicator {
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.apaksina {
    width: 600px;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 80px;
    column-gap: 0px;
    row-gap: 0px;
    background-color: whitesmoke;
    padding: 0px;
}

.augsina > div {
    text-align: center;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.apaksina > div{
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}


#k1, #k5, #k6, #k12 {
    background-color: whitesmoke;
}

#k2, #k4, #k7, #k9, #k11, #k14, #k16{
    color: white;
    background-color: black;
}

footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 5%;
    width: 100%;
    border-top: black solid 1px;
    background-color: whitesmoke;
}




